<?define ProductVersion = "$(env.VERSION)"?>
<?define ProductUpgradeCode = "EF415CCE-508A-48ED-8F73-A0E8F76C1F32"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
   <Package UpgradeCode="$(var.ProductUpgradeCode)" Name="Webmesh" Version="$(var.ProductVersion)" Manufacturer="WebmeshProj" Language="1033" InstallerVersion="200"><Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

      <Icon Id="ProductIcon" SourceFile="Webmesh.ico" />
      <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
      <Property Id="ARPHELPLINK" Value="https://webmeshproj.github.io" />
      <Property Id="ARPURLINFOABOUT" Value="https://webmeshproj.github.io" />
      <Property Id="ARPNOREPAIR" Value="1" />
      <Property Id="ARPNOMODIFY" Value="1" />

      <Upgrade Id="$(var.ProductUpgradeCode)">
         <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
         <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
      </Upgrade>
      <Launch Condition="NOT NEWERVERSIONDETECTED" Message="A newer version of this software is already installed." />

      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallValidate" />
      </InstallExecuteSequence>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="AppData" />
         <ComponentRef Id="AppFiles" />
         <ComponentRef Id="AppShortcuts" />
         <ComponentRef Id="Daemon" />
      </Feature>
    
      <StandardDirectory Id="CommonAppDataFolder">
         <Directory Id="Data" Name="Webmesh">
            <Component Id="AppData" Guid="DA71B876-3869-4D89-B8EC-1FCA4149D9A6" />
         </Directory>
      </StandardDirectory>

      <StandardDirectory Id="System64Folder">
         <Directory Id="System">
            <Component Id="Daemon" Guid="A53FBC08-6543-48A9-91BC-2CA0855A5F98">
               <File Id="WebmeshDaemonEXE" Source="webmeshd.exe" KeyPath="yes" Name="webmeshd.exe" />
               <File Id="WinTUN" Source="wintun.dll" Name="wintun.dll" />
               <ServiceInstall
                  Id="ServiceInstaller"
                  Type="ownProcess"
                  Name="WebmeshDaemon"
                  DisplayName="Webmesh Helper Daemon"
                  Description="Webmesh Helper Daemon"
                  Start="auto"
                  Vital="yes"
                  Account="LocalSystem"
                  ErrorControl="normal"
                  Interactive="no"
               />
               <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="WebmeshDaemon" Wait="no" />
            </Component>
         </Directory>
      </StandardDirectory>

      <StandardDirectory Id="ProgramFiles64Folder">
         <Directory Id="InstallDir" Name="Webmesh">
            <Component Id="AppFiles" Guid="C1B980AF-8880-4CD2-91E9-D34618CB5978">
               <File Id="WebmeshEXE" Source="Webmesh.exe" KeyPath="yes" Name="Webmesh.exe" />
               <File Id="License" Source="LICENSE.txt" Name="LICENSE.txt" />
            </Component>
         </Directory>
      </StandardDirectory>

      <StandardDirectory Id="ProgramMenuFolder">
         <Directory Id="ProgramMenuSubfolder" Name="Webmesh">
            <Component Id="AppShortcuts" Guid="33029A14-1EBB-4DF4-8E8B-0C8CED52C8FE">
               <Shortcut Id="ApplicationShortcut1" Name="Webmesh" Description="Webmesh" Target="[InstallDir]Webmesh.exe" WorkingDirectory="InstallDir" />
               <RegistryValue Root="HKCU" Key="Software\WebmeshProj\Webmesh" Name="installed" Type="integer" Value="1" KeyPath="yes" />
               <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
            </Component>
         </Directory>
      </StandardDirectory>
   </Package>
</Wix>
